body {
  font-family: 'Protest Strike', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(./assets/images/forestMoon-wallpaper2.jpg);
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 20px;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header h2 {
  opacity: 0.8;
  color: yellow;
  font-style: italic;
  font-size: 23px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: yellow;
}

.container-top {
  text-align: center;
  color: white;
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.container-left {
  padding: 16px;
  background-color: #140818d7;
  text-align: center;
  color: black;
  font-size: 20px;
  width: 45%;
  border-radius: 12px;
  margin: 5px;
  color: white;
}

.container-right {
  padding: 16px;
  background-color: #140818d7;
  text-align: center;
  color: black;
  font-size: 20px;
  width: 45%;
  border-radius: 12px;

  margin: 5px;

  color: white;
}

.container-right a {
  color: gray;
  text-decoration: none;
}

.container-right a:hover {
  color: white;
  font-size: 21px;
}

.avatar {
  max-width: 40%;
  opacity: 0.8;
  max-height: 500px;
}

.tail-image {
  max-height: 200px;
  opacity: 0.7;
}

.versus {
  max-block-size: 300px;
  font-size: 50px;
  margin: 0;
  padding: 10px 30px;
  color: black;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: center;
  opacity: 0.8;
}

.versus:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}

.full {
  width: 100%;
}

.stretch {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  align-self: center;
}

.silverKnight {
  color: silver;
  font-family: 'Protest Revolution', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.code {
  background-color: black;
  color: yellow;
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gray;
}

.container-left h2,
.container-right h2 {
  color: yellow;
}

.video {
  border-radius: 12px;
}

.credit {
  text-decoration: none;
  color: purple;
  font-size: 20px;
}

.credit:hover {
  color: yellow;
}

.container-bottom {
  text-align: center;
  color: white;
  font-size: 18px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  opacity: 0.8;
}

.yellow {
  color: yellow;
}

.photo-block {
  overflow: hidden;
  border-radius: 12px;
  width: 22%;
  height: 300px;
  text-align: center;
  position: relative;
  margin: 5px;
}

.depict {
  height: 100%;
  width: auto;
  opacity: 0.8;
}

.depict-text {
  position: absolute;

  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: 'Anta', sans-serif;
  color: yellow;
}

.photo-block:hover .depict-text {
  background-color: rgba(0, 0, 0, 0.538);
  color: yellow;
  cursor: pointer;
  scale: 1.1;
}

.blackBack {
  background-color: rgba(0, 0, 0, 0.702);
  padding: 15px;
  border-radius: 8px;
  width: 80vw;
}

@media screen and (max-width: 600px) {
  .container-left,
  .container-right {
    width: 100%;
  }

  body {
    width: 100vw;
    background: url(./assets/images/forestMoon-wallpaper2-mobile.png);
    background-size: cover;
    background-position: center;
  }

  /* .avatar {
    max-width: 100px;
  } */

  .footer {
    flex-direction: column;
  }

  .container-bottom {
    font-size: 10px;
    padding: 3px;
  }

  .versus {
    font-size: 30px;
    padding: 10px 20px;
  }

  .photo-block {
    width: 45%;
    height: 200px;
  }

  .depict-text {
    font-size: 15px;
  }

  .full {
    font-size: 20px;
  }
}
